{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
   <style>
       .outter-wp {
           padding: 1.5em 1.5em;
           margin-bottom: 2em;
           background: #ececec;
           margin: 1% 3%;
       }
       .table-responsive {
           min-height: .01%;
           overflow-x: auto;
           background: white;
           border-radius: 1%;
       }
   </style>
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</h1>
                </div>
            </div>
        </div>
    </div >



<a href="{{ url('fos_message_thread_new' )}}" class="btn btn-warning">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>

{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
