{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
<style>
    .messenger_thread_message_info{
        font-weight: 600;
        color: #dc9a06;
    }
    .messenger_thread_message_body{
        background: #dde0e0;
        padding: 3% 4%;
        border-radius: 15px;
        font-family: cursive;
        font-weight: 600;
    }
    textarea {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        overflow: auto;
        min-height: 109px;
        width: 100%;
    }
    .outter-wp {
        padding: 1.5em 1.5em;
        margin-bottom: 2em;
        background: #8adfff61;
        margin: 1% 3%;
    }
</style>

<h2 style="    text-align: center; font-size: 30px; background: #023d6f;color: white; padding: 1% 1%; border-radius: 7px;">
    Sujet: {{ thread.subject }}</h2>

{% for message in thread.messages %}
    <div class="messenger_thread_message">
        <div class="messenger_thread_message_info">
            {% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}message_info{% endtrans %}
        </div>

        <div class="messenger_thread_message_body" id="message_{{ message.id }}">
            {{ message.body }}
        </div>
    </div>
{% endfor %}
    <h3 style="    font-size: 28px; color: #023d6f; font-weight: 700;" >{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>
<div class="" style="background: aliceblue; margin-top: 4px; border-radius: 9px; margin-bottom: 20px; padding: 2%;">


<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" class="btn btn-primary" />
</form>
</div>
{% endblock %}
