<div class="">

    <div class="row">


        <div class="col-md-12">

            <div class="table-responsive">


                <table id="mytable" class="table table-bordred table-striped">

                    <thead>


                        <th>{% trans from 'FOSMessageBundle' %}subject{% endtrans %}</th>
                        <th>{% trans from 'FOSMessageBundle' %}starter{% endtrans %}</th>
                        <th>{% trans from 'FOSMessageBundle' %}startdate{% endtrans %}</th>
                        <th>{% trans from 'FOSMessageBundle' %}messages{% endtrans %}</th>
                        <th>{% trans from 'FOSMessageBundle' %}last_message{% endtrans %}</th>
                        <th>{% trans from 'FOSMessageBundle' %}actions{% endtrans %}</th>


                    </thead>
                    <tbody>

                    {% if threads %}
                        {% for thread in threads %}
                            <tr>
                                <td>
                                    <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" style="font-weight: 600">
                                        {{ thread.subject }}
                                    </a>

                                    {% if not fos_message_is_read(thread) %}
                                      <span class="label label-danger"> {% trans from 'FOSMessageBundle' %}new{% endtrans %}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ thread.createdBy }}
                                </td>
                                <td>
                                    {{ thread.createdAt|date("d/m/Y") }}
                                </td>
                                <td>
                                    {{ thread.messages|length }}
                                </td>
                                <td>
                                    {% if thread.lastMessage %}
                                        <a  class="btn btn-primary" href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" title="{% trans from 'FOSMessageBundle' %}goto_last{% endtrans %}">
                                           <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                        {% trans with {'%date%': thread.lastMessage.createdAt|date("d/m/Y")} from 'FOSMessageBundle' %}on{% endtrans %}
                                        <br />
                                        {% trans with {'%sender%': thread.lastMessage.sender|e } from 'FOSMessageBundle' %}by{% endtrans %}
                                    {% else %}
                                        ----
                                    {% endif %}
                                </td>
                                <td>
                                    {% if fos_message_can_delete_thread(thread) %}
                                        {% if fos_message_deleted_by_participant(thread) %}
                                            {% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
                                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}undelete{% endtrans %}{% endset %}
                                        {% else %}
                                            {% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
                                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}delete{% endtrans %}{% endset %}
                                        {% endif %}
                                        <form action="{{ formAction }}" method="post">
                                            <input type="submit" value="{{ submitValue }}"  class="btn btn-danger"/>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">
                                {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
                            </td>
                        </tr>
                    {% endif %}



                    </tbody>

                </table>



            </div>

        </div>
    </div>
</div>

