<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}
        {% endblock %}</title>
        {% block stylesheets %}


        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="{{ asset('css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{{ asset('css/style.css') }}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="{{ asset('css/icon-font.min.css') }}" type='text/css' />
<!-- //lined-icons -->
<script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('js/amcharts.js') }}"></script>   
<script src="{{ asset('js/serial.js') }}"></script> 
<script src="{{ asset('js/light.js') }}"></script>  
<script src="{{ asset('js/radar.js') }}"></script>  
<link href="{{ asset('css/barChart.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ asset('css/fabochart.css') }}" rel='stylesheet' type='text/css' />
<!--clock init-->
<script src="{{ asset('js/css3clock.js') }}"></script>
<!--Easy Pie Chart-->
<!--skycons-icons-->
<script src="{{ asset('js/skycons.js') }}"></script>

<script src="{{ asset('js/jquery.easydropdown.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div class="page-container">
   <!--/content-inner-->
    <div class="left-content">
       <div class="inner-content">
        <!-- header-starts -->
        {% include"layout-client/header.html.twig" %}
        <div class="outter-wp">
                                
                    {% block body %}


                    {% endblock %}
                                    </div>
                                     <!--footer section start-->
                                        {% include"layout-client/footer.html.twig" %}
                                    <!--footer section end-->
                                </div>
    </div>
                                <!--/sidebar-menu-->
                                  {% include"layout-client/menu.html.twig" %}
                    <script>
                            var toggle = true;
                                        
                            $(".sidebar-icon").click(function() {                
                              if (toggle)
                              {
                                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                                $("#menu span").css({"position":"absolute"});
                              }
                              else
                              {
                                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                                setTimeout(function() {
                                  $("#menu span").css({"position":"relative"});
                                }, 400);
                              }
                                            
                                            toggle = !toggle;
                                        });
                            </script>
        {% block javascripts %}
<!--js -->
<link rel="stylesheet" href="{{ asset('css/vroom.css') }}">
<script type="text/javascript" src="{{ asset('js/vroom.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/TweenLite.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/CSSPlugin.min.js') }}"></script>
<script src="{{ asset('js/jquery.nicescroll.js') }}"></script>
<script src="{{ asset('js/scripts.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
   <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        {% endblock %}
    </body>
</html>
