<div class="header-section">
						<!--menu-right-->
						<div class="top_menu">
						       
							<!--/profile_details-->
								<div class="profile_details_left">

                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <ul class="nofitications-dropdown">
                                            <li class="dropdown note">
                                                <a href="{{ path('fos_user_security_logout') }}" class="dropdown-toggle"aria-expanded="false">
                                                    <i class="lnr lnr-power-switch"></i>
                                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}

                                                </a>

                                            </li>

                                            </li>
                                            <div class="clearfix"></div>
                                        </ul>


                                    {% else %}
                                        <ul class="nofitications-dropdown">
                                            <li class="dropdown note">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="lnr lnr-power-switch"></i><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                                </a>

                                            </li>

                                            </li>
                                            <div class="clearfix"></div>
                                        </ul>

                                    {% endif %}

							</div>
							<div class="clearfix"></div>	
							<!--//profile_details-->
						</div>
						<!--//menu-right-->
					<div class="clearfix"></div>
				</div>