<div class="sidebar-menu">
  <header class="logo">
					 <img id="logo" class="img-respensive" src="{{asset('images/logo.jpg')}}" alt="Logo" style="width: 80%;"> 
					<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html"> <span id="logo"> </span>
					
	
				  </a> 
				</header>
    <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
    <!--/down--> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="down">
            <a href="#"> <img src="{{ asset('images/admin1.jpg') }}" alt=" " /></a>
            <a href="#"><span class=" name-caret">{{ app.user.username }}</span></a>
            
            <ul>
                <li><a class="tooltips" href="{{path('profile')}}"><span>Profile</span><i class="lnr lnr-user"></i></a></li>
                <li><a class="tooltips" href="{{ path('user_edit', { 'id': app.user.id }) }}"><span>Modifier</span><i class="lnr lnr-cog"></i></a></li>
                <li><a class="tooltips" href="{{ path('fos_user_security_logout') }}"><span> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span><i class="lnr lnr-power-switch"></i></a></li>

            </ul>
        </div>
    {% endif %}
    <!--//down-->
    <div class="menu">
        <ul id="menu" >
            <li><a href="#"><i class="fa fa-tachometer"></i> <span>Menu</span></a></li>
           <li id="menu-comunicacao" ><a href="#"><i class="fa fa-table"></i> <span>Nouvelle Commande</span>
                        <span class="fa fa-angle-double-right" style="float: right"></span></a>
                {{ render(controller('CommandeBundle:Default:cat')) }}
            </li>
            </li>
            <li id="menu-academico" ><a href="{{ path('liste_cmd') }}"><i class="fa fa-file-text-o"></i> <span>Historique des commandes</span></a></li>

            <li><a href="{{ path('liste_fact') }}"><i class="fa fa-file-text-o"></i> <span>Historique des factures</span></a></li>
              <li><a href="{{path('profile')}}"><i class="lnr lnr-pencil"></i> <span>Mon Compte</span></a></li>
            

            </li>
            <li id="menu-academico"><a href="{{ path('fos_message_inbox') }}"><i class="lnr lnr-envelope"></i> <span>Contacter le service client</span></a>
                <ul id="menu-academico-sub" >
                    <li id="menu-academico-avaliacoes" ><a href="{{ url('fos_message_inbox') }}"><i class="lnr lnr-envelope"></i> <span>Boîte de réception</span></a></li>
                    <li id="menu-academico-boletim" ><a href="{{ url('fos_message_sent') }}"><i class="lnr lnr-list"></i> <span>Messages Envoyés</span></a></li>
                    <li id="menu-academico-boletim" ><a href="{{ url('fos_message_deleted') }}"><i class="lnr lnr-trash"></i> <span>Messages Supprimés</span></a></li>

                </ul>
            </li>
            <li id="menu-academico" ><a href="{{ path('fos_user_security_logout') }}"><i class="lnr lnr-layers"></i> <span>Quitter</span> </a>

            </li>


        </ul>
    </div>
</div>
<div class="clearfix"></div>
</div>