{% trans_default_domain 'FOSUserBundle' %}





<!--/login-->
								
									   <div class="error_page">
												<!--/login-top-->
												
													<div class="error-top up">
													   <img id="logo" class="img-respensive" src="/images/logo2.png" alt="Logo" style="width: 100%;"> 
													    <div class="login">
														<h3 class="inner-tittle t-inner">S'inscrire</h3>
																{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                                                            {{ form_widget(form.username,{  'attr': { 'class' : 'text','placeholder': 'Votre nom' } } )}}
                                                            {{ form_errors(form.email) }}
                                                            {{ form_widget(form.email,{  'attr': { 'class' : 'text','placeholder': 'Votre email' } } )}}
                                                            {{ form_errors(form.plainPassword.first) }}
                                                            {{ form_widget(form.plainPassword.first,{  'attr': { 'class' : 'form-control','placeholder': 'Mot de passe' } } )}}
                                                            {{ form_errors(form.plainPassword.second) }}
                                                            {{ form_widget(form.plainPassword.second,{  'attr': { 'class' : 'form-control','placeholder': 'Confirmation du mot de passe' } } )}}
                                                            <div class="submit"> <input type="submit" value="{{ 'registration.submit'|trans }}" ></div>
																		<div class="clearfix"></div>
																		<div class="buttons">
																			
																		</div>
																		<div class="new">
																			<p class="sign up">Avez-vous un compte encore? <a href="{{ path('fos_user_security_login') }}"> Connexion.</a></p>
																			<div class="clearfix"></div>
																		</div>
																	{{ form_end(form) }}
														</div>
														
													</div>
													 
												<!--//login-top-->
										   </div>
										  	<!--//login-->