<ul id="menu-comunicacao-sub" >
    {% for cat in category %}
    <li id="menu-mensagens" style="width:120px" ><a>{{ cat.nom }} <i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i></a>

        <ul id="menu-mensagens-sub" >
            {% for sub in categorie %}
                {% if sub.category == cat.nom %}
            <li id="menu-mensagens-enviadas" style="width:130px" ><a href="{{ path('nouveau_cmd', { 'id': sub.id }) }}">{{ sub.nom }}</a></li>
{% endif %}
            {% endfor %}
        </ul>

    </li>
{% endfor %}
</ul>