{% extends 'layout-admin/base.html.twig' %}


{% block body %}

<style>
    .graph h4 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 1em;
    }
</style>
    <div class="graph-visual tables-main">

        <h3 class="inner-tittle two">Liste de Commandes reçues </h3>
        <div class="graph">
            <div class="tables" >

                <table  class="table table-bordered">
                    <thead>
                    <tr>

                        <th >Nom Client</th>
                        <th >Commande N°</th>
                        <th ><table class="table" style="margin-bottom: -23px !important;"><tr><th>Produit</th><th>Quantite</th><th>Prix</th></tr></table></th>
                        <th> total</th>
                        <th colspan="3"> Buttons Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comd in commandes %}

                        <tr>

                            <td>{{ comd.utilisateur.username }}</td>
                            <td>{{ comd.num }}</td>

                            <td>
                                <table class="table">


                                    {% set total=0 %}
                                    {% for item in items %}
                                        <tr>
                                            {% if item.order == comd.id %}

                                                {% set total= total + item.total %}
                                                {% for product in products %}


                                                    {%  if product.id == item.product %}

                                                        <td> {{ product.produit.nom }} </td>
                                                        <td> {{ item.qty }}</td>
                                                        <td> {{ item.price }}€</td>
                                                    {% endif %}
                                                {% endfor %}

                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            <td>
                                {% set total=0 %}
                                {% for item in items %}
                                    {% if item.order == comd.id %}

                                        {% set total= total + item.total %}

                                    {% endif %}
                                {% endfor %}
                                {{ total }}€
                            </td>
                            <td><a href="{{ path('commandes_exel', { 'id': comd.id }) }}" class="btn btn-primary">Exporter XSL</a></td>
                            <td> <a href="{{ path('commandes_edit', { 'id': comd.id }) }}" class="btn btn-info"> Modifier</a> </td>
                            <td> <a href="{{ path('commandes_show', { 'id': comd.id }) }}" class="btn btn-danger">Supprimer</a> </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}