{% extends 'layout-client/base.html.twig' %}


{% block body %}

<style>
.table>thead>tr>th {
    
    width: 6%;
}
</style>
    <div class="graph-visual tables-main">

        <h3 class="inner-tittle two">Historique des commandes</h3>
        <div class="graph">
            <div class="tables">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        
                        <th >N° commande</th>
                        <th ><table class="table" style="margin-bottom: -15px !important;"><tr><th>Nom Produit</th><th>Quantité</th><th>Prix unitaire</th></tr></table></th>
                        <th colspan=""> Total</th>
                        <th colspan=""> Remise</th>
                        <th colspan=""> Net</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comd in pagination %}

                    <tr>
                        <th scope="row">{{ comd.id }}</th>
                      
                        <td>
                            <table class="table">


                            {% set total=0 %}

                            {% for item in items %}
                                <tr>
                                {% if item.order == comd.id %}

                                    {% set total= total + item.total %}
                                    {% for product in products %}


                                        {%  if product.id == item.product %}

                                            <td> {{ product.produit.nom }} </td>
                                           <td> {{ item.qty }}</td>
                                            <td> {{ item.price }}€</td>
                                            {% endif %}
                                        {% endfor %}

                                {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                        </td>
                        <td colspan="">
                        {% set total=0 %}
                            {% set qt=0 %}
                        {% for item in items %}
                            {% if item.order == comd.id %}
                                {% set qt= qt + item.qty %}
                                {% set total= total + item.total %}

                        {% endif %}
                        {% endfor %}
                            {{ total }}€
                        </td>
                        <td colspan="">
                            {% if qt<5  %} 0% {% elseif qt>4 and qt<10 %} 3% {% else %} 5% {% endif %}
                        </td>
                        <td colspan="">
                            {% if qt<5  %}
                                {{ total }}€
                            {% elseif qt>4 and qt<10 %}
                                {% set net= total-(total*3/100) %}
                                {{ net }}
                            {% else %}
                                {% set net= total-(total*5/100) %}
                                {{ net }}
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}
                     </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}