Bonjour M./Mme {{ name }},<br>
Votre commande chez Cha Yuan, a un nouveau statut d'avancement.<br>
Veuillez vous rendre dans votre espace pour vérifier le statut.<br>
<br>
Cordialement.<br>
L'Equipe Cha Yuan.