{% extends 'layout-client/base.html.twig' %}


{% block body %}
    <style>
        .sc-added-item:before {

            border-color: rgba(255,255,255,0) #e2820a rgba(255,255,255,0) rgba(255,255,255,0)!important;
        }
        .sc-added-item {
            border-color: #e2820a !important;
        }
        .btn-success {
            color: #fff;
            background-color: #141006 !important;
            border-color: #141006 !important;
        }
        .panel {
            padding: 1px 1px;
        }
        .panel-default>.panel-heading {
            color: #fff !important;
            background-color: #141006 !important;
            border-color: #141006 !important;
        }
        .panel-default {
            border-color: #141006 !important;
            background:#decfbc !important;
        }
        .panel-body {
            padding: 15px;
            background: #fff0 !important;
        }
    </style>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="{{asset('dist/css/smart_cart.min.css')}}" rel="stylesheet" type="text/css" />


    <section class="">
    <div class="row">
    <div class="col-md-8">
    <div class="panel panel-default">
    <div class="panel-heading">
        Notre boutique
    </div>
    <div class="panel-body">
    <div class="row">
    <!-- BEGIN PRODUCTS -->
    {% for prod in products %}
        {% if prod.produit.categorie == categorie %}
        <div class="col-md-4 col-sm-6">
        <div class="sc-product-item thumbnail">
            <img data-name="product_image" src="{{ asset(prod.produit.image.src) }}" style="max-height: 100px" alt="...">
            <div class="caption">
                <h4 data-name="product_name">{{ prod.produit.nom }}</h4>
                <p class="" data-name="product_desc" style="display:none">{{ prod.produit.gramme }}</p>
				<p class="" data-name="product_desc">Sac de 1 kg ou 2.5 kg</p>


                <div col-md-12>


                    <div class="form-group2">
                        <label>Quantité (Kg): </label>
                        <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                    </div>

                    <strong class="price pull-left" style="color: #d29b1b;"><span style="color: #000">Prix HT:</span> {{ prod.prix }} €</strong><br>
                    <input name="product_price" value="{{ prod.prixttc }}" type="hidden" />
                    <input name="product_id" value="{{ prod.id }}" type="hidden" />

                    <p><span style="color: #000">Marge:</span> {{ prod.marge }}% ,<span style="color: #000"> Coef:</span> {{ prod.coef }}</p>

                    <p><span style="color: #000">Prix TTC:</span> {{ prod.prixttc }}€</p>
                    <button class="sc-add-to-cart btn btn-success btn-sm pull-right ">Ajouter</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
        {% endif %}
    {% endfor %}

    <!-- END PRODUCTS -->
    </div>
    </div>
    </div>

    </div>

    <aside class="col-md-4">

        <!-- Cart submit form -->
        <form action="{{ path('result') }}" method="POST">
            <!-- SmartCart element -->
            <div id="smartcart"></div>
        </form>

    </aside>
    </div>
    </section>





    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript" ></script>
    <!-- Include SmartCart -->
    <script src="{{asset('dist/js/jquery.smartCart.js')}}" type="text/javascript"></script>
    <!-- Initialize -->
    <script type="text/javascript">
        $(document).ready(function(){
            // Initialize Smart Cart
            $('#smartcart').smartCart();
        });
    </script>
{% endblock %}