<ul id="menu-mensagens-sub" >
    <li id="menu-mensagens-enviadas" style="width:130px" ><a href="ribbon.html">Ribbons</a></li>
    <li id="menu-mensagens-recebidas"  style="width:130px"><a href="blank.html">Blank</a></li>
</ul>