{% extends 'layout-admin/base.html.twig' %}


{% block body %}

    <style>
        .graph h4 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 1em;
        }
    </style>
    <div class="graph-visual tables-main">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="panel-title" id="voteLabel"><span class="glyphicon glyphicon-arrow-right"></span> Confirmation de la suppression ?</h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-vote">oui</button>

                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Annuler</button>

            </div>
        </div>
    </div>
{% endblock %}