{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Adresse</th>
                <th>Codpostal</th>
                <th>Tel</th>
                <th>Societe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.pays }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.codpostal }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.societe }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
