<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ absolute_url(asset('bundles/framework/css/structure.css')) }}" rel="stylesheet" />
        <link href="{{ absolute_url(asset('bundles/framework/css/body.css')) }}" rel="stylesheet" />
			<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{asset('css/error.css')}}" />
        {% block head %}{% endblock %}
    </head>
    <body>
       
              

           
                {% block body %}{% endblock %}
          
    </body>
</html>
