{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}



                                <!--/login-->
                                
                   <div class="error_page">
                            <!--/login-top-->
                            
                                <div class="error-top">
                               <img id="logo" class="img-respensive" src="{{asset('images/logo2.png')}}" alt="Logo" style="width: 100%;"> 
                                    <div class="login" style="margin-top:20px;">
									<p>Chers distributeurs, bienvenue chez Cha Yuan et ses 250 variétés de thés du monde entier.</p>
                                    <h3 class="inner-tittle t-inner">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
                                </h3>
                                           
                                           <form action="{{ path("fos_user_security_check") }}" method="post">
                                              {% if csrf_token %}
                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                            {% endif %}

                                                    <input  class="text" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" >
                                                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password">
                                                    <div class="submit"><input type="submit" onclick="myFunction()" value="Connexion" ></div>
                                                    <div class="clearfix"></div>
                                                    
                                                    
                                                </form>
                                    </div>

                                    
                                </div>
                                
                                
                            <!--//login-top-->
                       </div>
    
                                            <!--//login-->
