	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
				<h2>Page non trouvée</h2>
			</div>
			<a href="http://cha-yuan.wiqsupport.com">Page d'accueil</a>
		</div>
	</div>