{% extends 'layout-client/base.html.twig' %}

{% block body %}

   
    <div class="profile-widget">
        <img src="{{ asset('images/admin1.jpg') }}" alt=" " />
        <h2>{{app.user.username}}</h2>
        <p style="color:#000">{{app.user.email}}</p>
    </div>

<div class="forms-main">

    <div class="forms-inner">
        <!--/set-2-->
        <div class="set-1">
            <div class="graph-2 general">
                <h3 class="inner-tittle two">Mise à jour votre profile  </h3>
                <div class="grid-1">
                    <div class="form-body">

                        {{ form_start(edit_form,{  'attr': { 'class' : 'form-horizontal' } } )}}

                            <div class="form-group col-md-6">
                                <label for="focusedinput" class="col-sm-3 control-label">Prenom</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.username,{  'attr': { 'class' : 'form-control1' } } )}}

                                </div>

                            </div>

                            <div class="form-group col-md-6">
                                <label for="focusedinput" class="col-sm-3 control-label">Nom</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.prenom,{  'attr': { 'class' : 'form-control1' } } )}}
                                </div>

                            </div>

                            <div class="form-group col-md-6">
                                <label for="focusedinput" class="col-sm-3 control-label">Adresse</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.adresse,{  'attr': { 'class' : 'form-control1' } } )}}
                                </div>

                            </div>

                            <div class="form-group col-md-6">
                                <label for="focusedinput" class="col-sm-3 control-label">Ville</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.ville,{  'attr': { 'class' : 'form-control1' } } )}}
                                </div>

                            </div>

                            <div class="form-group col-md-6">
                                <label for="focusedinput" class="col-sm-3 control-label">Pays</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.pays,{  'attr': { 'class' : 'form-control1' } } )}}
                                </div>

                            </div>

                            <div class="form-group col-md-6">
                                <label for="focusedinput" class="col-sm-3 control-label">Code postale</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.codpostal,{  'attr': { 'class' : 'form-control1' } } )}}
                                </div>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="focusedinput" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.email,{  'attr': { 'class' : 'form-control1' } } )}}
                                </div>

                            </div>

                            <div class="form-group col-md-6">
                                <label for="focusedinput" class="col-sm-3 control-label">Télephone</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.tel,{  'attr': { 'class' : 'form-control1' } } )}}
                                </div>

                            </div>

                            <div class="form-group mb-n">
                                <label for="largeinput" class="col-sm-2 control-label label-input-lg">Nom de la societé</label>
                                <div class="col-sm-6">
                                    {{ form_widget(edit_form.societe,{  'attr': { 'class' : 'form-control1' } } )}}
                                </div>
                            </div>
							<div class="form-group col-md-6">
                                <label for="focusedinput" class="col-sm-3 control-label">Numéro</label>
                                <div class="col-sm-8">
                                    {{ form_widget(edit_form.numero,{  'attr': { 'class' : 'form-control1' } } )}}

                                </div>

                            </div>
                        <input type="submit" value="Enregistrer"/>
                        {{ form_end(edit_form) }}
                    </div>

                </div>
            </div>
        </div>
        <!--//set-2-->
{% endblock %}

{% block stylesheets %}

{% endblock %}