{% extends 'layout-client/base.html.twig' %}

{% block body %}

    <!--//sub-heard-part-->
    <!--/profile-->
    <h3 class="sub-tittle pro">Profile</h3>
    <div class="profile-widget">
        <img src="{{ asset('images/admin1.jpg') }}" alt=" " />
        <h2>{{ app.user.prenom }} {{ app.user.username }}</h2>

    </div>
    <!--/profile-inner-->
<div class="profile-section-inner">
    <div class="col-md-6 profile-info">
        <h3 class="inner-tittle">Donn&eacute;es personnelles </h3>
        <div class="main-grid3">
            <div class="p-20">
                <div class="about-info-p">
                    <strong>Nom et Prenom</strong>
                    <br>
                    <p class="text-muted">{{ app.user.prenom }} {{ app.user.username }}</p>
                </div>
                <div class="about-info-p">
                    <strong>Téléphone</strong>
                    <br>
                    <p class="text-muted">{{ app.user.tel }}</p>
                </div>
                <div class="about-info-p">
                    <strong>Email</strong>
                    <br>
                    <p class="text-muted"><a href="mailto:{{ app.user.email }}">{{ app.user.email }}</a></p>
                </div>
                <div class="about-info-p m-b-0">
                    <strong>Societé</strong>
                    <br>
                    <p class="text-muted">{{ app.user.societe }}</p>
                </div>
            </div>
        </div>
       </div>
    <div class="col-md-6 profile-info two">
        <h3 class="inner-tittle" style="visibility: hidden">........... </h3>
        <div class="main-grid3">
            <div class="p-20">
                <div class="about-info-p">
                    <strong>Ville</strong>
                    <br>
                    <p class="text-muted">{{ app.user.ville }}</p>
                </div>
                <div class="about-info-p">
                    <strong>Adresse</strong>
                    <br>
                    <p class="text-muted">{{ app.user.adresse }}</p>
                </div>
                <div class="about-info-p">
                    <strong>Pays</strong>
                    <br>
                    <p class="text-muted">{{ app.user.pays }}</p>
                </div>
                <div class="about-info-p m-b-0">
                    <strong>Code Postale</strong>
                    <br>
                    <p class="text-muted">{{ app.user.codpostal }}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}