
{% extends 'layout-admin/base.html.twig' %}


{% block body %}

    <style>
        .graph h4 {
            font-size:24px;
            text-align: center;
            margin-bottom: 1em;
        }
        .panel {
            margin-bottom: 20px;
            background-color: #c9f7f5;
            border: 1px solid #f7eadb;
        }
        .table {
            margin-bottom: 0;
            background: white;
        }
        th {
            color: #ffffff!important;
            font-weight: 400;
        }
    </style>

    <div style="padding:5% 10%">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="panel-title" id="voteLabel">Modifier la Commande N° {{ commande.num}} <span style="margin-left: 15%;"> pour le client: {{ commande.utilisateur.username }}</span> </h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <table class="table table-bordered">
                        <thead style="background: #002561;">
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Totale</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for item in items %}
                            <tr>
                                {% for product in products %}
                                {%  if product.id == item.product %}
                                <td>{{ product.produit.nom }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.qty }}</td>
                                <td>{{ item.total }}</td>
                                {% endif %}
                                {% endfor %}
                            </tr>

                        {% endfor %}
                        <tr> <td colspan="3"></td><td>
                                {% set total=0 %}
                                {% for item in items %}


                                    {% set total= total + item.total %}


                                {% endfor %}
                                {{ total }}€
                            </td></tr>
                        </tbody> </table>


                </ul>
            </div>
            {{ form_start(edit_form) }}
            <div class="modal-footer">


<div class="row">
<div class="form-group  field-text">
<label class="col-sm-2 control-label required" for="user_username">N°commande:</label>
<div class="col-sm-10">
 {{ form_widget(edit_form.num,{  'attr': { 'class' : 'form-control' } } )}}
</div>
</div>
<br>
<div class="form-group  field-text" style="margin-top:10px;">
<label class="col-sm-2 control-label required" for="user_username">N° BL Sage:</label>
<div class="col-sm-10">
 {{ form_widget(edit_form.sage,{  'attr': { 'class' : 'form-control'} } )}}
</div>
</div>
<div class="form-group  field-text" style="margin-left:7%">
    <span class="pull-left" style="padding: 10px">
 <i class="btn btn-sm btn-success" style="      background-color: #e2820a;
    border-color: #e2820a;  padding: 5px 11px;" >
     {{ form_widget(edit_form.etat) }}
 </i>
                                        <label style=" font-family: initial;">
                                            Passer cette commande en traitement ?
                                        </label>

                                </span>
								</div>
</div>



                <input type="submit" value="Valider" />



                <a class="btn btn-default btn-close" href="{{ path('comd-recu') }}">Annuler</a>



            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}


