{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commandes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Num</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commandes_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                <td>{{ commande.num }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commandes_show', { 'id': commande.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commandes_edit', { 'id': commande.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commandes_new') }}">Create a new commande</a>
        </li>
    </ul>
{% endblock %}
