
{% extends 'layout-admin/base.html.twig' %}


{% block body %}

    <style>
        .graph h4 {
            font-size:24px;
            text-align: center;
            margin-bottom: 1em;
        }
        .panel {
            margin-bottom: 20px;
            background-color: #e8b36f;
            border: 1px solid #e2820a;
        }
    </style>

<div style="padding:5% 10%">
<div class="panel panel-primary">
    <div class="panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="panel-title" id="voteLabel"><span class="glyphicon glyphicon-arrow-right"></span>Confirmation de la suppression Commande N° {{ commande.num }}</h4>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="radio">
                    <label>

                        Etes-vous sûr de vouloir supprimer cette Commande ?
                    </label>
                </div>
            </li>


        </ul>
    </div>
    <div class="modal-footer">
        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-primary dropdown-results btn-results">
        {{ form_end(delete_form) }}

        <a class="btn btn-default btn-close" href="{{ path('comd-recu') }}">Annuler</a>



    </div>
</div>
    </div>
{% endblock %}
