<html>
<head>
</head>
<body>
sage: {{comd.sage}} 
Date cmd : {{date}}
Num cmd:{{comd.num}}
Num client:{{client.numero}}
{%for item in items %}
 {% if item.order == comd.id %}
  {% for product in products %}


	{%  if product.id == item.product %}
	Référence: {{ product.produit.nom }}
	Article: {{ product.produit.nom }}
	Prix unitaire: {{ item.price }}€
	Quantit{{ item.qty }}
		
	{% endif %}
{% endfor %}
	
	{% endif %}
{% endfor %}
</body>