{% extends 'layout-admin/base.html.twig' %}


{% block body %}

<style>
    .graph h4 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 1em;
    }

    .btn {

        padding: 8px 9px;

    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 99%;}
</style>
    <div class="graph-visual tables-main">

        <h3 class="inner-tittle two">Liste de Commandes Terminées </h3>
        <div class="graph">
            <div class="tables">

                <table class="table table-bordered">
                    <thead>
                    <tr>

                        <th >Nom Client</th>
                        <th >N° Commande </th>
                        <th ><table class="table" style="margin-bottom: -23px !important;"><tr><th>Produit</th><th>Quantité</th><th>Prix unitaire</th></tr></table></th>
                        <th colspan=""> Total</th>
                        <th colspan=""> Remise</th>
                        <th colspan=""> Net</th>
                        <th colspan="1"> Etat</th>
                        <th colspan="1">Facture</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comd in pagination %}

                        <tr>

                            <td>{{ comd.utilisateur.username }}</td>
                            <td>{{ comd.id }}</td>

                            <td>
                                <table class="table">


                                    {% set total=0 %}
                                    {% for item in items %}
                                        <tr>
                                            {% if item.order == comd.id %}

                                                {% set total= total + item.total %}
                                                {% for product in products %}


                                                    {%  if product.id == item.product %}

                                                        <td> {{ product.produit.nom }} </td>
                                                        <td> {{ item.qty }}</td>
                                                        <td> {{ item.price }}€</td>
                                                    {% endif %}
                                                {% endfor %}

                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            <td colspan="">
                                {% set total=0 %}
                                {% set qt=0 %}
                                {% for item in items %}
                                    {% if item.order == comd.id %}
                                        {% set qt= qt + item.qty %}
                                        {% set total= total + item.total %}

                                    {% endif %}
                                {% endfor %}
                                {{ total }}€
                            </td>
                            <td colspan="">
                                {% if qt<5  %} 0% {% elseif qt>4 and qt<10 %} 3% {% else %} 5% {% endif %}
                            </td>
                            <td colspan="">
                                {% if qt<5  %}
                                    {{ total }}€
                                {% elseif qt>4 and qt<10 %}
                                    {% set net= total-(total*3/100) %}
                                    {{ net }}
                                {% else %}
                                    {% set net= total-(total*5/100) %}
                                    {{ net }}
                                {% endif %}
                            </td>
                            <td>
                            {% if comd.fin == 1 %} <span class="label label-success">Validé</span> {% else %}<span class="label label-warning"> En attente</span> {% endif %}
                            </td>
                            <td>
                                {% if comd.facture!= null %}
                                    <a href="{{asset(comd.facture.src)  }}" target="_blank" class="btn btn-danger" style="    padding: 3% 8%; font-size: 15px;font-weight: 600;">
                                        facture pdf
                                    </a>
                                   {% else %}
                            <a href="{{ path('envoi_fact', { 'id': comd.id }) }}" class="btn btn-primary">Envoyer facture</a>

                            {% endif %}
                            </td>
                         </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}