{% extends 'layout-admin/base.html.twig' %}


{% block body %}

<style>
    .graph h4 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 1em;
    }
    .btn {

        padding: 8px 9px;

    }
</style>
    <div class="graph-visual tables-main">

        <h3 class="inner-tittle two">Liste de Commandes reçues </h3>
        <div class="graph">
            <div class="tables">

                <table class="table table-bordered" style="margin-bottom: -23px !important;">
                    <thead>
                    <tr>

                        <th >Nom Client</th>
                        <th >N° Commande</th>
                        <th ><table class="table" style="margin-bottom: -23px !important;"><tr><th>Produit</th><th>Quantité</th><th>Prix unitaire</th></tr></table></th>
                        <th colspan=""> Total</th>
                        <th colspan=""> Remise</th>
                        <th colspan=""> Net</th>
                        <th colspan="3">  Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comd in pagination %}

                        <tr>

                            <td>{{ comd.utilisateur.username }}</td>
                            <td>{{ comd.num }}</td>

                            <td>
                                <table class="table">


                                    {% set total=0 %}
                                    {% for item in items %}
                                        <tr>
                                            {% if item.order == comd.id %}

                                                {% set total= total + item.total %}
                                                {% for product in products %}


                                                    {%  if product.id == item.product %}

                                                        <td> {{ product.produit.nom }} </td>
                                                        <td> {{ item.qty }}</td>
                                                        <td> {{ item.price }}€</td>
                                                    {% endif %}
                                                {% endfor %}

                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            <td colspan="">
                                {% set total=0 %}
                                {% set qt=0 %}
                                {% for item in items %}
                                    {% if item.order == comd.id %}
                                        {% set qt= qt + item.qty %}
                                        {% set total= total + item.total %}

                                    {% endif %}
                                {% endfor %}
                                {{ total }}€
                            </td>
                            <td colspan="">
                                {% if qt<5  %} 0% {% elseif qt>4 and qt<10 %} 3% {% else %} 5% {% endif %}
                            </td>
                            <td colspan="">
                                {% if qt<5  %}
                                    {{ total }}€
                                {% elseif qt>4 and qt<10 %}
                                    {% set net= total-(total*3/100) %}
                                    {{ net }}
                                {% else %}
                                    {% set net= total-(total*5/100) %}
                                    {{ net }}
                                {% endif %}
                            </td>
                            <td><a href="{{ path('commandes_exel', { 'id': comd.id }) }}" class="btn btn-primary">XSL</a>
							<a href="{{ path('commandes_text', { 'id': comd.id }) }}" class="btn btn-primary">text</a></td>
                            <td> <a href="{{ path('commandes_edit', { 'id': comd.id }) }}" class="btn btn-info"> <i class="fa fa-edit"></i></a> </td>
                            <td> <a href="{{ path('commandes_show', { 'id': comd.id }) }}" class="btn btn-danger"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a> </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}