{% extends 'layout-admin/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Espace</span> Reception commande</h1>
            </div>

          

        </div>
    </div>
{% endblock %}