<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}" />
    <title>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</title>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="{{ asset('css/style.css') }}" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{{ asset('css/icon-font.min.css') }}" type='text/css' />
    <!-- //lined-icons -->
    <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>


    <script src="{{ asset('js/jquery.easydropdown.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
	.h2, h2 {
    font-size: 30px;
    color: white;
}
        .jumbotron {
            padding: 30px 15px;
            margin-bottom: 30px;
            color: inherit;
            background-color: #021f4e;
        }
        .jumbotron .h1, .jumbotron h1 {
            color: white;
            font-size: 63px;
        }
        .btn {
            cursor: pointer;
            margin: 5px;
            border-radius: 2px;
            text-decoration: none;
            padding: 7px 13px;
            font-size: 17px;
        }
        .btn-danger {
            color: #fff;
            background-color: #d91d16 !important;
            border-color: #d43f3a !important;
        }
    </style>
</head>

<body>
<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="inner-content">
            <!-- header-starts -->
            <div class="header-section">
                <!--menu-right-->
                <div class="top_menu">

                    <!--/profile_details-->
                    <div class="profile_details_left">

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <ul class="nofitications-dropdown">
                                <li class="dropdown note">
                                    <a href="{{ path('fos_user_security_logout') }}" class="dropdown-toggle"aria-expanded="false">
                                        <i class="lnr lnr-power-switch"></i>
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}

                                    </a>

                                </li>


                                <div class="clearfix"></div>
                            </ul>


                        {% else %}
                            <ul class="nofitications-dropdown">
                                <li class="dropdown note">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="lnr lnr-power-switch"></i><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    </a>

                                </li>

                                </li>
                                <div class="clearfix"></div>
                            </ul>

                        {% endif %}

                    </div>
                    <div class="clearfix"></div>
                    <!--//profile_details-->
                </div>
                <!--//menu-right-->
                <div class="clearfix"></div>
            </div>
            <div class="outter-wp">


{% block fos_message_content %}
{% endblock %}
            </div>
            <!--footer section start-->
            <footer>
                <p>&copy 2019 Chayuan . All Rights Reserved</p>
            </footer>
            <!--footer section end-->
        </div>
    </div>
    <!--/sidebar-menu-->
    <div class="sidebar-menu">
        <header class="logo">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html"> <span id="logo"> <h1>LOGO</h1></span>
                <!--<img id="logo" src="" alt="Logo"/>-->
            </a>
        </header>
        <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
        <!--/down--> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="down">
                <a href="#"> <img src="{{ asset('images/admin1.jpg') }}" alt=" " /></a>
                <a href="#"><span class=" name-caret">{{ app.user.username}}</span></a>

                <ul>
                    <li><a class="tooltips" href="{{ path('fos_user_security_logout') }}"><span> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span><i class="lnr lnr-power-switch"></i></a></li>

                </ul>
            </div>
        {% endif %}
        <!--//down-->
        <div class="menu">
            <ul id="menu" >

                <li><a href="#"style="    background-color: #00c6d7;"><i class="fa fa-tachometer"></i> <span> GESTION Messagerie</span></a></li>

                <li id="menu-academico" ><a href="{{ url('fos_message_inbox') }}"><i class="lnr lnr-envelope"></i> <span>Boîte de réception</span></a>

                </li>
                <li id="menu-academico" ><a href="{{ url('fos_message_sent') }}"><i class="lnr lnr-list"></i> <span>Messages Envoyés</span></a>

                </li>

                <li><a href="{{ url('fos_message_deleted') }}"><i class="lnr lnr-trash"></i> <span>Messages Supprimés</span></a>

                </li>

                <li id="menu-academico" ><a href="{{ url('user_homepage') }}" style="    margin-top: 13%;"><i class="lnr lnr-sync"></i> <span>Retour au menu principale</span> </a>

                </li>


            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
    <script>
        var toggle = true;

        $(".sidebar-icon").click(function() {
            if (toggle)
            {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({"position":"absolute"});
            }
            else
            {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function() {
                    $("#menu span").css({"position":"relative"});
                }, 400);
            }

            toggle = !toggle;
        });
    </script>
    {% block javascripts %}
    <!--js -->
    <link rel="stylesheet" href="{{ asset('css/vroom.css') }}">
    <script type="text/javascript" src="{{ asset('js/vroom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/TweenLite.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/CSSPlugin.min.js') }}"></script>
    <script src="{{ asset('js/jquery.nicescroll.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
</div>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>