<div class="sidebar-menu">
    <header class="logo">
        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html"> <span id="logo"> <h1>LOGO</h1></span>
            <!--<img id="logo" src="" alt="Logo"/>-->
        </a>
    </header>
    <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
    <!--/down--> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="down">
            <a href="#"> <img src="{{ asset('images/admin1.jpg') }}" alt=" " /></a>
            <a href="#"><span class=" name-caret">{{ app.user.username}}</span></a>

            <ul>
                <li><a class="tooltips" href="{{ path('fos_user_security_logout') }}"><span> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span><i class="lnr lnr-power-switch"></i></a></li>

            </ul>
        </div>
    {% endif %}
    <!--//down-->
    <div class="menu">
        <ul id="menu" >
            <li><a href="#"><i class="fa fa-tachometer"></i> <span> GESTION Messagerie</span></a></li>
            <li id="menu-academico" >
                <a href="{{ url('fos_message_inbox') }}" class="list-group-item">{% trans from 'FOSMessageBundle' %}
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Boîte de réception{% endtrans %}</a>

            </li>

            <li><a href="{{ url('fos_message_sent') }}" class="list-group-item">{% trans from 'FOSMessageBundle' %}
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Messages Envoyés{% endtrans %}</a>
            </li>

            <li>
                <a href="{{ url('fos_message_deleted') }}" class="list-group-item">{% trans from 'FOSMessageBundle' %}
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Messages Supprimés{% endtrans %}</a>

            </li>

            <li id="menu-academico" ><a href="#" style="    margin-top: 13%;"><i class="lnr lnr-layers"></i> <span>Retour au menu principale</span> </a>

            </li>


        </ul>
    </div>
</div>
<div class="clearfix"></div>
</div>