 <!--footer section start-->
                                        <footer>
    <p>Propuls&eacute; par WIQSupport Tous droits r&eacute;serv&eacute;s - 2019 Cha-yuan.</p>

                                        </footer>
                                    <!--footer section end-->